<section fxLayout="column">
  <mat-card class="card">
    <mat-card-header style="flex-direction:column;">
      <mat-card-title>
        NADA Meeting Request Form
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form [formGroup]="registrationForm" autocomplete="off" class="submission">

      <mat-card-content>

        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="31px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex appearance="outline" formGroupName="MeetingRequestData">
            <mat-label>Name of Meeting</mat-label>
            <input matInput placeholder="Name of Meeting" required formControlName="NameOfMeeting" />
          </mat-form-field>
          <mat-form-field fxFlex appearance="outline" formGroupName="MeetingRequestData">
            <mat-label>Meeting Dates</mat-label>
            <input matInput placeholder="mm/dd/yyyy – mm/dd/yyyy" required formControlName="MeetingDates" />
          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="31px" fxLayoutGap.lt-md="0px">

          <mat-form-field fxFlex appearance="outline" formGroupName="MeetingRequestData">
            <mat-label>Staff Contact</mat-label>
            <input matInput placeholder="Staff Contact" required formControlName="StaffContact" />
          </mat-form-field>
          <mat-form-field fxFlex appearance="outline" formGroupName="MeetingRequestData">
            <mat-label>Attendance (incl. staff)</mat-label>
            <input matInput placeholder="Attendance (incl. staff)" required formControlName="Attendance"
              type="number" />
          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" fxLayoutGap.lt-md="0px"
          formGroupName="MeetingRequestData">
          <h5>Meeting agenda provided?</h5>

          <mat-radio-group aria-label="Select an option" formControlName="selectedAgenda"
            class="example-radio-group topmargin" layout="row" style=" margin-top: -16px;" appearance="outline">
            <mat-radio-button class="example-radio-button" [value]="order.id"
              *ngFor="let order of MeetingAgenda; let i = index"> {{order.name}}
            </mat-radio-button>
          </mat-radio-group>

          <mat-form-field fxFlex appearance="outline">
            <mat-label>Date Meetings will receive agenda</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Date Meetings  will receive agenda"
              formControlName="MeetingAgendaDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          <h5>Attendee List Pranav (incl. staff) provided?</h5>

          <mat-radio-group class="example-radio-group topmargin" aria-label="Select an option" layout="row"
            formControlName="selectedAttendeeList" appearance="outline">
            <mat-radio-button class="example-radio-button" [value]="order.id"
              *ngFor="let order of AttendeeList; let i = index" name="AttendeeList"> {{order.attendee}}
            </mat-radio-button>

          </mat-radio-group>



          <mat-form-field fxFlex appearance="outline">
            <mat-label>Date Meetings will receive</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="Date Meetings will receive" matTextareaAutosize
              formControlName="AttendeeListDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
          formGroupName="MeetingRequestData">
          <h5 class="left marginText">Select Meeting Location
          </h5>
          <mat-radio-group class="example-radio-group left" aria-label="Select Meeting Location"
            formControlName="selectedMeetingLocations">
            <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
              *ngFor="let order of MeetingLocations; let i = index" name="MeetingLocations"
              (change)="radioChange($event)">
              {{order.name}}</mat-radio-button>

          </mat-radio-group>

          <mat-form-field fxFlex appearance="outline" *ngIf="servicesNeeded===true">
            <mat-label>Services Needed</mat-label>
            <mat-select formControlName="selectedservicesNeeded" class="left full-width"
              (selectionChange)="filterservicesNeeded($event)">
              <mat-option *ngFor="let order of servicesNeededList" [value]="order.id">
                {{order.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="31px" fxLayoutGap.lt-md="0px">
          <div id="agendaDiv" style="margin-right: 31px;">
            <h5>Agenda file</h5>
            <input type="file" (change)="handelAgendaFileInput($event)"  /><br />
            <!-- <ul *ngIf="allEmp && allEmp.files">
      <li *ngFor="let data of allEmp.files">
      <a *ngIf="data.isAgendaFile==true">{{data.fileName}}</a>&nbsp;&nbsp; <button (click)='downloadDataUrlFromJavascript(data.fileName,data.fileBytes)'>DOWNLOAD</button>&nbsp;&nbsp; <button (click)="removeFile(data.fileName)">REMOVE</button></li>
    
    </ul> -->
          </div>
          <div id="meetingDiv" style="
  padding-left: 310px;
">
            <h5>Meeting file</h5>
            <input type="file"(change)="handelMeetingFileInput($event)" /><br />
            <!-- <ul *ngIf="allEmp && allEmp.files">
      <li *ngFor="let data of allEmp.files">
      <a *ngIf="data.isAgendaFile==true">{{data.fileName}}</a>&nbsp;&nbsp; <button (click)='downloadDataUrlFromJavascript(data.fileName,data.fileBytes)'>DOWNLOAD</button>&nbsp;&nbsp; <button (click)="removeFile(data.fileName)">REMOVE</button></li>
    
    </ul> -->
          </div><br /><br />
        </div>
        <br />



        <mat-divider></mat-divider>

        <!-- Hotel Reservations-->
        <div id="divHotelReservations" class="left"
          *ngIf="selectedservicesNeededByUser==='Hotel Rooms' || selectedservicesNeededByUser==='Hotel Room & Catering' || selectedservicesNeededByUser==='Offsite'">
          <h2 class="left marginText" mat-subtitle>Hotel Reservations
          </h2>
          <mat-divider></mat-divider>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="31px" fxLayoutGap.lt-md="0px"
            style="margin-top: 29px;">
            <mat-form-field fxFlex appearance="outline" formGroupName="HotelReservations">
              <mat-label>Hotel Location</mat-label>
              <mat-select formControlName="selectedHotelReservations" (selectionChange)="filterHotels($event)">
                <mat-option *ngFor="let order of HotelReservationList" [value]="order.id">
                  {{order.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <span *ngIf="selectedOtherHotel===true">

              <mat-form-field fxFlex appearance="outline" formGroupName="HotelReservations">
                <mat-label>Name of Other location(s)</mat-label>
                <input matInput placeholder="Name of Other location(s)" *ngIf="selectedOtherHotel===true"
                  id="otherHotel" formControlName="selectedHotelReservations" text="" required />
              </mat-form-field>
            </span>
            <mat-form-field fxFlex appearance="outline" formGroupName="HotelReservations">
              <mat-label>Hotel Reservations</mat-label>
              <mat-select formControlName="selectedTypeOfHotel">
                <mat-option *ngFor="let order of TypeOfHotelList" [value]="order.id">
                  {{order.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <div class="input-row addSection" flex-direction="coloumn">

            <h5 class="left marginText " mat-subtitle>Sleeping Room Requirements</h5>
            <form id="addSleepingReq">
              <button mat-raised-button color="primary" class="right" (click)="onAddRow()"
                *ngIf="registrationForm.get('HotelRoomReqiurements')">Add Sleeping Room Requirements</button>

              <mat-card class="specailMatcard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                fxLayoutGap.lt-md="0px"
                *ngFor="let row of registrationForm.get('HotelRoomReqiurements')?.controls;let index = index;">
                <mat-card-actions style="float:right;">
                  <button mat-raised-button (click)="onRemoveRow(index)" color="warn" alt="delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Day</mat-label>
                  <input matInput [formControl]="row.get('Day')" placeholder="Day" class="example-full-width">
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Date</mat-label>
                  <input matInput [formControl]="row.get('Date')" placeholder="Date" type="date"
                    class="example-full-width">
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Number of Rooms Needed</mat-label>
                  <input matInput [formControl]="row.get('RoomsNeeded')" placeholder="Number of Rooms Needed" required
                    type="number" class="example-full-width">
                </mat-form-field>


              </mat-card>
            </form>
          </div>


          <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            style="width: 47%;">
            <mat-form-field fxFlex appearance="outline" formGroupName="HotelReservations">
              <mat-label>Budget for Hotel rooms</mat-label>

              <input matInput placeholder="Budget for Hotel rooms" formControlName="BudgetforHotelrooms" type="number">

              <span matSuffix>.00</span>
            </mat-form-field>

          </div>
        </div>
        <!--Hotel Reservations-->

        <mat-divider></mat-divider>
        <div id="divFoodandBeverage"
          *ngIf="selectedservicesNeededByUser==='In-Office Catering Only' || selectedservicesNeededByUser==='Offsite' || selectedservicesNeededByUser==='Hotel Room & Catering' ">

          <!--Food and Beverage  -->

          <div id="divFoodandBeverage" class="left">
            <h2 class="left marginText" mat-subtitle>Food and Beverage
            </h2>
            <mat-divider></mat-divider>

            <div class="input-row" fxLayout="row" fxLayout.lt-md="coloumn" fxLayoutGap="20px"
              formGroupName="FoodBeverage" fxLayoutGap.lt-md="0px">
              <h5 class="left marginText">Are there food functions for meeting rooms required?
              </h5>
              <mat-radio-group class="example-radio-group left"
                aria-label="Are there food functions for meeting rooms required?"
                formControlName="selectedFoodFunctions">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of FoodFunctions; let i = index" name="FoodFunctions"> {{order.name}}
                </mat-radio-button>
                <!--(change)="radioChange($event)"-->

              </mat-radio-group>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="coloumn" fxLayoutGap="20px"
              formGroupName="FoodBeverage" fxLayoutGap.lt-md="0px">
              <h5 class="left marginText">Is a separate room needed for any meals?
                *see next section for off-site events
              </h5>
              <mat-radio-group class="example-radio-group left" aria-label="Is a separate room needed for any meals? 
                      *see next section for off-site events" formControlName="selectedSeparateRoomForMeals">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of SeparateRoomForMeals; let i = index" name="SeparateRoomForMeals"> {{order.name}}
                </mat-radio-button>
                <!--(change)="radioChange($event)"-->

              </mat-radio-group>

            </div>


            <div class="input-row addSection" flex-direction="coloumn">

              <h5 class="left marginText" mat-subtitle>Food and Beverage Requirements</h5>

              <form id="addFoodandBeverageReq">
                <button mat-raised-button color="primary" (click)="onAddRowFoodandBeverage()"
                  *ngIf="registrationForm.get('FoodandBeverageReqiurements')">Add Food and Beverage
                  Requirements</button>

                <mat-card class="specailMatcard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                  fxLayoutGap.lt-md="0px"
                  *ngFor="let row of registrationForm.get('FoodandBeverageReqiurements')?.controls;let index = index;">

                  <mat-card-actions style="float:right;">
                    <button mat-raised-button (click)="onRemoveFoodandBeverageRow(index)" color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-card-actions>
                  <mat-form-field fxFlex appearance="outline" class="example-full-width">
                    <mat-label>Day/Date</mat-label>
                    <input matInput [formControl]="row.get('Day')" placeholder="Day/Date" class="example-full-width">
                  </mat-form-field>
                  <mat-form-field fxFlex appearance="outline" class="example-full-width">
                    <mat-label>Time/Type of Event</mat-label>
                    <input matInput [formControl]="row.get('Date')" placeholder="Time/Type of Event"
                      class="example-full-width">
                  </mat-form-field>


                </mat-card>
              </form>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              style="width: 47%;">
              <mat-form-field fxFlex appearance="outline" formGroupName="FoodBeverage">
                <mat-label>Budget for Food and beverage</mat-label>
                <input matInput placeholder="Budget for Food and beverage" formControlName="BudgetforFoodandBeverage"
                  type="number">
                <span matSuffix>.00</span>
              </mat-form-field>

            </div>

          </div>

          <!--Food and Beverage  formGroupName="OffSiteDinersData"-->
          <mat-divider></mat-divider>
          <!--Offsite Diners-->
          <h2 class="left marginText" mat-subtitle>Off-site Dinners
          </h2>
          <mat-divider></mat-divider>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            formGroupName="OffSiteDinersData">
            <h5 class="left marginText">Are there any requirements for off-site dinners, etc required?
            </h5>
            <mat-radio-group class="example-radio-group left"
              aria-label="Are there any requirements for off-site dinners, etc required?"
              formControlName="selectedOffsiteDiners">
              <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                *ngFor="let order of OffSiteDiners; let i = index" name="OffSiteDiners">
                {{order.name}}
              </mat-radio-button>
              <!--(change)="radioChange($event)"-->

            </mat-radio-group>
          </div>
          <div class="input-row addSection" flex-direction="coloumn">
            <h5 class="left marginText" mat-subtitle>Special Event Requirements</h5>

            <form id="addOffsiteDinersReq">
              <button mat-raised-button color="primary" (click)="onAddRowOffsiteDinersSpecial()"
                *ngIf="registrationForm.get('OffsiteDinersSpecialReqiurements')">Add Special Event
                Requirements</button>

              <mat-card class="specailMatcard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                fxLayoutGap.lt-md="0px"
                *ngFor="let row of registrationForm.get('OffsiteDinersSpecialReqiurements')?.controls;let index = index;">
                <mat-card-actions>
                  <button mat-raised-button (click)="onRemoveOffsiteDinersSpecialRow(index)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Day/Date</mat-label>
                  <input matInput [formControl]="row.get('Day')" placeholder="Day/Date" class="example-full-width">
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Time/Type of Event</mat-label>
                  <input matInput [formControl]="row.get('Date')" placeholder="Time/Type of Event" type="text"
                    class="example-full-width">

                </mat-form-field>

                <mat-form-field fxFlex appearance="outline">
                  <mat-label># of attendees</mat-label>
                  <input matInput [formControl]="row.get('NumberOfAttendees')" placeholder="# of attendees"
                    type="number">
                </mat-form-field>



              </mat-card>
            </form>

          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            formGroupName="OffSiteDinersData">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Is there a preferred restaurant(s) in mind?</mat-label>
              <input matInput placeholder="Is there a preferred restaurant(s) in mind?"
                formControlName="OffsiteDinerPrefferedRestaurant" />
            </mat-form-field>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            formGroupName="OffSiteDinersData">
            <h5 class="left marginText">Is a private room required?
            </h5>
            <mat-radio-group class="example-radio-group left" aria-label="Is a private room required?"
              formControlName="selectedOffisteDinerPrivateRoom">
              <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                *ngFor="let order of OffisteDinerPrivateRoom; let i = index" name="OffisteDinerPrivateRoom">
                {{order.name}}
              </mat-radio-button>
              <!--(change)="radioChange($event)"-->

            </mat-radio-group>

            <h5 class="left marginText">Would a sectioned off area suffice?
            </h5>
            <mat-radio-group class="example-radio-group left" aria-label="Would a sectioned off area suffice?"
              formControlName="selectedOffisteDinerSectionedOffArea">
              <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                *ngFor="let order of OffisteDinerSectionedOffArea; let i = index" name="OffisteDinerSectionedOffArea">
                {{order.name}}
              </mat-radio-button>
              <!--(change)="radioChange($event)"-->

            </mat-radio-group>


          </div>
          <div class="input-row" fxLayout="row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="31px"
            fxLayoutGap.lt-md="0px" formGroupName="OffSiteDinersData">



            <mat-form-field fxFlex appearance="outline">
              <mat-label>Type of restaurant desired?</mat-label>
              <mat-select formControlName="selectedRestaurantDesired" (selectionChange)="filterRestaurants($event)">
                <mat-option *ngFor="let order of RestaurantDesiredList" [value]="order.id">
                  {{order.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>



            <mat-form-field fxFlex appearance="outline" *ngIf="selectedRestaurantDesiredOther===true">
              <mat-label>Restaraunt(s) Desired</mat-label>
              <input matInput placeholder="Restaraunt(s) Desired" *ngIf="selectedRestaurantDesiredOther===true"
                id="otherRestraunt" formControlName="selectedRestaurantDesired" />
            </mat-form-field>



          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="31px" fxLayoutGap.lt-md="0px"
            formGroupName="OffSiteDinersData" style="flex-direction: coloumn;">


            <mat-form-field fxFlex appearance="outline">
              <mat-label>Menu desired?</mat-label>
              <mat-select formControlName="selectedMenuDesired">
                <mat-option *ngFor="let order of MenuDesiredList" [value]="order.id">
                  {{order.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field fxFlex appearance="outline">
              <mat-label>What type of event is this?</mat-label>
              <mat-select formControlName="selectedEventType" (selectionChange)="filterEventType($event)">
                <mat-option *ngFor="let order of EventTypeList" [value]="order.id">
                  {{order.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <span *ngIf="selectedEventTypeOther===true">
              <mat-form-field fxFlex appearance="outline">
                <mat-label>Restaraunt(s) Desired</mat-label>
                <input matInput placeholder="Restaraunt(s) Desired" *ngIf="selectedEventTypeOther===true"
                  id="otherEventType" formControlName="selectedEventType" />
              </mat-form-field>
            </span>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1px" fxLayoutGap.lt-md="0px"
            formGroupName="OffSiteDinersData">

            <h5 class="left marginText">Requirements on distance from hotel?
            </h5>

            <mat-radio-group class="example-radio-group left radiowithText"
              aria-label="Requirements on distance from hotel?" formControlName="selectedffisteDistanceFromHotel" flex>
              <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                *ngFor="let order of OffisteDistanceFromHotel; let i = index" name="OffisteDistanceFromHotel">
                {{order.name}}
              </mat-radio-button>
              <mat-radio-button [value]="other" name="Leave_from" class="example-radio-button">
                <mat-form-field appearance="outline">
                  <mat-label>Leave from</mat-label>
                  <input matInput placeholder="Leave from" name="OffisteDistanceFromHotel"
                    formControlName="selectedffisteDistanceFromHotel" style="margin-top: -10px;">
                </mat-form-field>
              </mat-radio-button>


            </mat-radio-group>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex appearance="outline" formGroupName="OffSiteDinersData">
              <mat-label>Other</mat-label>
              <textarea matInput placeholder="Other" formControlName="OtherOffSiteDiner"></textarea>

            </mat-form-field>


          </div>


          <!--Offsite Diners-->
          <mat-divider></mat-divider>

          <!--Meeting Space formGroupName="MeetingSpace"-->
          <div id="divMeetingSpace" class="left">
            <h2 class="left marginText" mat-subtitle>Meeting Space
            </h2>
            <mat-divider></mat-divider>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="MeetingSpace">
              <h5 class="left marginText">Is meeting space required at the hotel?</h5>
              <mat-radio-group class="example-radio-group left" aria-label="Is meeting space required at the hotel?"
                formControlName="selectedMeetingSpaceHotel">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of MeetingSpaceHotel; let i = index" name="MeetingSpaceHotel">
                  {{order.name}}
                </mat-radio-button>
                <!--(change)="radioChange($event)"-->

              </mat-radio-group>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="MeetingSpace">
              <h5 class="left marginText">Is meeting space required at NADA?*</h5>
              <mat-radio-group class="example-radio-group left" aria-label="Is meeting space required at NADA?*"
                formControlName="selectedMeetingSpaceHotelNADA">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  (change)="radioMeetingAtNADA($event)" *ngFor="let order of MeetingSpaceHotelNADA; let i = index"
                  name="MeetingSpaceHotelNADA">
                  {{order.name}}
                </mat-radio-button>
                <!--(change)="radioChange($event)"-->

              </mat-radio-group>

              <h5 class="left marginText" *ngIf="MeetingSpaceatNADALocation">If yes, select which location </h5>
              <mat-radio-group class="example-radio-group left" aria-label="If yes, select which location"
                formControlName="selectedatNADALocation" *ngIf="MeetingSpaceatNADALocation">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of atNADALocation; let i = index" name="atNADALocation">
                  {{order.name}}
                </mat-radio-button>
                <!--(change)="radioChange($event)"-->

              </mat-radio-group>

            </div>
            <div class="input-row addSection" flex-direction="coloumn">
              <h5 class="left marginText" mat-subtitle>Meeting Room Requirements</h5>
              <form id="addRoomReq">
                <button mat-raised-button color="primary" (click)="onAddRowMeetingRoom()"
                  *ngIf="registrationForm.get('MeetingRoomSpecialReqiurements')">Add Meeting Room Requirements</button>


                <mat-card class="specailMatcard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                  fxLayoutGap.lt-md="0px"
                  *ngFor="let row of registrationForm.get('MeetingRoomSpecialReqiurements')?.controls;let index = index;">

                  <mat-card-actions>
                    <button mat-raised-button (click)="onRemoveRowMeetingRoomRow(index)" color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-card-actions>
                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Day/Date</mat-label>
                    <input matInput [formControl]="row.get('Day')" placeholder="Day/Date" class="example-full-width">
                  </mat-form-field>
                  <mat-form-field fxFlex appearance="outline">
                    <mat-label>Time/Type of Event</mat-label>
                    <input matInput [formControl]="row.get('Date')" placeholder="Time/Type of Event" type="text"
                      class="example-full-width">
                  </mat-form-field>



                </mat-card>
              </form>
            </div>
            <div class="input-row" fxLayout="coloumn" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="MeetingSpace" style="flex-direction: row;">

              <h5 class="left marginText">Function Type: (check all that apply)
              </h5>




            </div>
            <div class="flex-container wrap" formGroupName="MeetingSpace">
              <!--
                <div flex="100" flex-gt-sm="50" layout="column">
                    <div>
                <fieldset class="standard" >
                    <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend>
                    <div layout="row" layout-wrap flex>
                      <div flex="50"  *ngFor="let item of FunctionTypeData 
                      let i = index;">
                        <mat-checkbox [checked]="item.checked" (change)="onChangeFunctionTypeList($event, i, item)" >
                          {{ item.name }} 
                        </mat-checkbox>
                      </div>
                    </div>
                  </fieldset>
                    </div>
                    </div>
-->
              <mat-list #list formArrayName="FunctionTypeList" fxLayout="row" fxLayout.lt-md="column"
                class="flex-container wrap">
                <mat-list-item *ngFor="let item of FunctionTypeData 
                                   let i = index;" appearance="outline">
                  <mat-checkbox [checked]="item.checked" (change)="onChangeFunctionTypeList($event, i, item)">
                    {{ item.name }}
                  </mat-checkbox>
                </mat-list-item>
              </mat-list>
              <mat-form-field *ngIf="FunctionTypeOther" fxLayout="coloumn" fxFlex appearance="outline">
                <mat-label>Other</mat-label>
                <input matInput placeholder="Other" name="FunctionTypeOther" formControlName="SelectedFunctionTypeOther"
                  required>
              </mat-form-field>

            </div>
            <div class="input-row" fxLayout="coloumn" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="MeetingSpace">

              <h5 class="left marginText">Set-up Requirements
              </h5>
            </div>
            <div class="flex-container wrap" formGroupName="MeetingSpace">

              <mat-list #list formArrayName="SetUpRequirementsData" appearance="outline" fxLayout="row"
                fxLayout.lt-md="column" class="flex-container wrap">
                <mat-list-item *ngFor="let item of SetUpRequirementsData 
                                let i = index;" fxLayout="coloumn" style="flex-direction: column;">
                  <mat-checkbox [checked]="item.checked" (change)="onChangegetSetupRequirements($event, i, item)">
                    {{ item.name }}</mat-checkbox>
                </mat-list-item>

              </mat-list>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="MeetingSpace">
              <h5 class="left marginText">Audiovisual
              </h5>
              <mat-radio-group class="example-radio-group left" aria-label="Audiovisual"
                formControlName="selectedatAudiovisual" fxLayout="row" fxFlex appearance="outline">

                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of Audiovisual; let i = index" name="Audiovisual">
                  {{order.name}}
                </mat-radio-button>

              </mat-radio-group>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="MeetingSpace">
              <h5 class="left marginText">AV Requirements Equipment: (check all that apply)
              </h5>

            </div>
            <div class="input-row" formGroupName="MeetingSpace">
              <mat-list #list formArrayName="EquipmentData" appearance="outline" fxLayout="row" fxLayout.lt-md="column"
                class="flex-container wrap">
                <mat-list-item *ngFor="let item of EquipmentData 
                                  let i = index;">
                  <mat-checkbox [checked]="item.checked" (change)="onChangeEquipment($event, i, item)">
                    {{ item.name }} </mat-checkbox>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              style="width: 47%;">
              <mat-form-field fxFlex appearance="outline" formGroupName="MeetingSpace">
                <mat-label>Budget for Audio/visual</mat-label>
                <input matInput placeholder="Budget for Audio/visual" formControlName="BudgetforAudioVisual"
                  type="number">

                <span matSuffix>.00</span>
              </mat-form-field>
            </div>
          </div>

          <mat-divider></mat-divider>
          <!--Meeting Space-->

          <!--Transpotation formGroupName="Transpotation"-->
          <div id="divTransportation" class="left"
            *ngIf="selectedservicesNeededByUser==='Hotel Rooms' || selectedservicesNeededByUser==='Hotel Room & Catering' || selectedservicesNeededByUser==='Offsite' ">
            <h2 class="left marginText" mat-subtitle>Transportation
            </h2>
            <mat-divider></mat-divider>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="Transpotation">

              <h5>Do you require Transportation?</h5>
              <mat-radio-group class="example-radio-group left" aria-label="Do you require Transportation? "
                formControlName="selectedatTransportation">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of Transportation; let i = index" (change)="radioTransportationRequired($event)"
                  name="Transportation">
                  {{order.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="Transpotation">
              <h5 class="left marginText" *ngIf="TransportationRequired">If yes, for Individual(s) or Group or Both?
              </h5>
              <mat-radio-group class="example-radio-group left" aria-label="If yes, select which location"
                formControlName="selectedatTransportationType" *ngIf="TransportationRequired">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of TransportationType; let i = index" name="TransportationType"
                  (change)="radioTransportationDetails($event)">
                  {{order.name}}
                </mat-radio-button>
                <!--(change)="radioChange($event)"-->

              </mat-radio-group>
              <h5 class="left marginText" *ngIf="TransportationIndivdualType">Individual(s) list provided? </h5>
              <mat-radio-group class="example-radio-group left" aria-label="Individual(s) list provided?   "
                formControlName="selectedTransportationListProvided" *ngIf="TransportationIndivdualType">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of TransportationListProvided; let i = index" name="TransportationListProvided">
                  {{order.name}}
                </mat-radio-button>
                <!--(change)="radioChange($event)"-->

              </mat-radio-group>



            </div>

            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="Transpotation">


              <h5 class="left marginText">Pick up location
              </h5>
              <mat-radio-group class="example-radio-group left radiowithText" aria-label="Pick up location"
                formControlName="selectedTransportationPickUpLocation">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of TransportationPickUpLocation; let i = index" name="TransportationPickUpLocation">
                  {{order.name}}
                </mat-radio-button>
                <mat-radio-button [value]="other" name="Other">
                  <mat-form-field appearance="outline">
                    <mat-label>Leave from</mat-label>
                    <input matInput placeholder="Leave from" name="selectedTransportationPickUpLocation"
                      formControlName="selectedTransportationPickUpLocation">
                  </mat-form-field>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="input-row" fxLayout="coloumn" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              formGroupName="Transpotation">

              <h5 class="left marginText">Dropoff location
              </h5>
              <mat-radio-group class="example-radio-group left radiowithText" aria-label="Pick up location"
                formControlName="selectedTransportationDropoffLocation">
                <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                  *ngFor="let order of TransportationDropoffLocation; let i = index"
                  name="TransportationDropoffLocation">
                  {{order.name}}
                </mat-radio-button>
                <mat-radio-button [value]="other" name="Other">
                  <mat-form-field appearance="outline">
                    <mat-label>Leave from</mat-label>
                    <input matInput placeholder="Leave from" name="OffisteDistanceFromHotel"
                      formControlName="selectedTransportationDropoffLocation">
                  </mat-form-field>
                </mat-radio-button>


              </mat-radio-group>
            </div>

          </div>
          <!--Transpotation-->
          <mat-divider></mat-divider>



          <!--enddiv-->
        </div>
        <!--Signage-->

        <div id="divSignage" class="left"
          *ngIf="selectedservicesNeededByUser==='Hotel Rooms' || selectedservicesNeededByUser==='In-Office Catering Only' || selectedservicesNeededByUser==='Offsite'  || selectedservicesNeededByUser==='Hotel Room & Catering' ">
          <h2 class="left marginText" mat-subtitle>Signage
          </h2>
          <mat-divider></mat-divider>
          <div formGroupName="Signage" class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px"
            fxLayoutGap.lt-md="0px">
            <h5>Is signage needed?</h5>
            <mat-radio-group class="example-radio-group left" aria-label="Is signage needed?"
              formControlName="selectedSinage">
              <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                *ngFor="let order of Sinage; let i = index" name="Sinage">
                {{order.name}}
              </mat-radio-button>

            </mat-radio-group>
          </div>
        </div>

        <!--Signage-->
        <mat-divider></mat-divider>
        <!--Misc-->

        <div id="divMisc" class="input-row"
          *ngIf="selectedservicesNeededByUser==='Hotel Rooms' || selectedservicesNeededByUser==='In-Office Catering Only' || selectedservicesNeededByUser==='Offsite'  || selectedservicesNeededByUser==='Hotel Room & Catering' ">
          <h2 class="left marginText" mat-subtitle>Miscellaneous
          </h2>
          <mat-divider></mat-divider>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            formGroupName="Misc">
            <h5>Are badges required?</h5>
            <mat-radio-group class="example-radio-group left" aria-label="Are badges required? "
              formControlName="selectedMiscBadges">
              <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                *ngFor="let order of MiscBadges; let i = index" name="MiscBadges">
                {{order.name}}
              </mat-radio-button>

            </mat-radio-group>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            formGroupName="Misc">
            <h5>Are tent cards needed? </h5>
            <mat-radio-group class="example-radio-group left" aria-label="Are tent cards needed?"
              formControlName="selectedMiscTenentCards">
              <mat-radio-button #order.id [value]="order.id" class="example-radio-button"
                *ngFor="let order of MiscTenentCards; let i = index" name="MiscTenentCards">
                {{order.name}}
              </mat-radio-button>

            </mat-radio-group>
          </div>

          <div formGroupName="Misc" class="input-row" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="20px"
            fxLayoutGap.lt-md="0px">

            <mat-form-field fxFlex appearance="outline">
              <mat-label>Other comments</mat-label>
              <textarea matInput placeholder="Other comments" formControlName="OtherComments"></textarea>
            </mat-form-field>
          </div>
        </div>
        <!--Misc-->
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <!--<div class="buttonHolder">-->
        <button mat-raised-button color="primary" [disabled]="!registrationForm.valid"
          (click)="SaveChanges(registrationForm.value)"> Create</button> &nbsp;&nbsp;&nbsp;
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        <!--</div>-->

      </mat-card-actions>

    </form>


  </mat-card>
</section>